<a href="https://colab.research.google.com/github/riyaz7781/riyaz7781/blob/main/Copy_of_Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libraries

In [ ]:
 import pandas as pd
 import numpy as np
 import matplotlib.pyplot as plt
 import seaborn as sns
 import scipy.stats as sts
 import statsmodels.api as smf
 import warnings
 warnings.filterwarnings("ignore")

QUESTION-1

here mean=45 initially but it was given that work has begun after 10 minutes so we take mean=55 and std.deviation as 8

In [ ]:
mew=55
std=8
q1=sts.norm.sf(60,loc=mew,scale=std)
np.round(q1,3)

0.266

QUESTION-2

To calculate the distribution between 38 to 44 we must calculate the distribution of 38 and 44 and then calculate the distribution of age after 44

In [ ]:

mew1=38
std1=6
less_than_38=sts.norm.cdf(38,loc=mew1,scale=std1)
less_than_44=sts.norm.cdf(44,loc=mew1,scale=std1)
betweem_38_and_44=(less_than_44-less_than_38)
a=np.round(betweem_38_and_44*100,4)  #the probability of age between 38 and 44
older_than_44=1-sts.norm.cdf(44,loc=mew1,scale=std)
np.round(older_than_44*100,4),a

(22.6627, 34.1345)

Compare two values and make conclusion

In [ ]:
true_or_false=(older_than_44>betweem_38_and_44)
true_or_false

False

Here we take 30 as probability value

In [ ]:
b=sts.norm.cdf(30,loc=mew1,scale=std1)
print("The training program under age 30 could attract",np.round(b*400),"employees")

The training program under age 30 could attract 36.0 employees

QUESTION-4

Here we taken 99 % confidence interval

In [ ]:
np.round(sts.norm.interval(0.99,loc=100,scale=20),3)

array([ 48.483, 151.517])

Question-5

5(A)

In [ ]:
mean1=5
mean2=7
total_mean=(mean1+mean2)
std1=3**2
std2=4**2
total_std=np.sqrt(std1+std2)
print("Total STD is ",total_std)
print("Total STD in Crores",(total_std*45)/10)
print("Total mean is",total_mean)
print("total mean in cores is ",(total_mean*45)/10)

Total STD is  5.0
Total STD in Crores 22.5
Total mean is 12
total mean in cores is  54.0

In [ ]:
r1,r2=np.round(sts.norm.interval(0.95,total_mean,total_std),3)
print("rupee range",np.divide(np.multiply(r1,45),10),"to",np.divide(np.multiply(r2,45),10),"Crores for 95% probability")

rupee range 9.900000000000002 to 98.1 Crores for 95% probability

5(B)

In [ ]:
z_scor=sts.norm.ppf(0.05)
fifth_percentile=(z_scor*total_std)+total_mean
print("Fifth percentile in million",np.round(fifth_percentile,3))
print("Fifth percentile in crores",np.round((fifth_percentile*45)/10,3))

Fifth percentile in million 3.776
Fifth percentile in crores 16.991

5(C)

In [ ]:
division1=sts.norm.cdf(0,5,3)
division2=sts.norm.cdf(0,7,4)
division1,division2
if division1>division2:
  print("Division 1 is making high loss ")
else:
  print("Divison 2 is making high loss")

Division 1 is making high loss